<h1 mat-dialog-title> {{ title }} </h1>
<div mat-dialog-content class="form-container">
  <div class="form-row">
    <mat-form-field class="full-width">
      <input matInput required [(ngModel)]="assessmentName" placeholder="Course Name*">
    </mat-form-field>
  </div>
  <div class="form-row">
    <mat-form-field class="full-width">
      <input matInput [(ngModel)]="description" placeholder="Description">
    </mat-form-field>
  </div>
  <div class="form-row">
    <mat-radio-group [(ngModel)]="assessmentType" aria-label="Select Assessment Type">
      <mat-radio-button value="{{AssessmentType.EXAM}}">{{ AssessmentType.EXAM }}</mat-radio-button>
      <mat-radio-button value="{{AssessmentType.COURSEWORK}}">{{ AssessmentType.COURSEWORK }}</mat-radio-button>
    </mat-radio-group>
  </div>
  <div class="form-row">
    <mat-form-field class="full-width">
      <input matInput required [(ngModel)]="assessmentWeight" placeholder="Assessment Weight*">
    </mat-form-field>
  </div>
  <div class="form-row">
    <mat-form-field class="full-width">
      <input matInput [(ngModel)]="mark" placeholder="mark">
    </mat-form-field>
  </div>
  <div class="form-row">
    <section class="example-section">
      <mat-checkbox class="" [(ngModel)]="completed">Assessment Completed</mat-checkbox>
    </section>
  </div>
</div>

<div mat-dialog-actions>
  <button mat-raised-button (click)="saveCourse()"> Save Course</button>
  <button mat-raised-button (click)="closePopup()"> Close</button>
</div>
